[Unit]
Description=apollo-api
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/env.d/apollo
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull ${DOCKER_REGISTRY}/apollo/api:${APOLLO_ENVIRONMENT}
ExecStart=/usr/bin/docker run --name api-%i --rm -p %i:8000 -e COREOS_IP=${COREOS_PUBLIC_IPV4} -v /srv/containers/apollod/volumes/etc:/etc/apollo/ ${DOCKER_REGISTRY}/apollo/api:${APOLLO_ENVIRONMENT}
ExecStartPost=/usr/bin/etcdctl set /apollo/api/%i ${COREOS_PUBLIC_IPV4}:%i
ExecStartPost=/usr/bin/etcdctl set /apollo/environment ${APOLLO_ENVIRONMENT}
ExecStop=/usr/bin/docker stop api-%i
ExecStopPost=/usr/bin/etcdctl rm /apollo/api/%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=api@%i.service
